# Pycache directory
__pycache__/*

# VS Code workspace 
workspace.code-workspace
.vscode/settings.json

# Pickle files
*.pickle

# Configuration file
config.yaml

# pdf files
*.pdf

# data path
data/*

# Old analysis
brownsville_analysis.ipynb