[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
branca = "*"
folium = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
sodapy = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
